<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Tasker</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container_Index" >
    <h1>My To Do List</h1>
    <form action="/submit" method="post">
    <input type="text" name="task_tb" id="task_tb_id" placeholder="Please Enter your Task">
    <button type="submit">Add</button>
    </form>
    <ul>
      <% taskscollection.forEach((details) => { %>
        <li>
          <div><%= details.content %></div>
          <a href="/remove/<%= details._id %>" class="remove">
            <i class="fas fa-trash"></i>
          </a>
          <a href="/edit/<%= details._id %>" class="edit">
            <span class="fas fa-pen"></span>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>